
body {
    background-color: hsl 9192, 60%, ;
}
.images img {
    object-fit: cover;
    width: auto;
    scale: 1.5;
    height: 100%;
    filter: contrast(80%);
}

.images div {
    display: inline-block;
    width: 27%;
    height: 80vh;
    overflow: hidden;
    border-radius: 24px;

}

.images {
    display: flex;
    font-size: 0;
    text-align: justify;
    justify-content: space-around;
    min-height: 90vh;
    align-items: center;
}

@media (max-width: 768px) {
    .images div {
        display: block;
        margin: 0 auto;
        width: 27vh;
        height: ;

    }
}
