:root {
    --max-page-width:  920px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 920px;
    margin: auto;
    border-bottom: 1px solid rgba(0, 114, 188, 0.2);
    color: rgb(0, 114, 188);
}

.header-container a {
    border-bottom: 1px solid rgba(0, 114, 188, 0.2);
    color: rgb(0, 114, 188);
    text-decoration: none;
    
}







.header-container {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 14px;
}

.header-left {
    display: flex; 
    gap: 30px;   
    
}


main {
    margin: 0 auto;
    max-width: var(--max-page-width);
}




